name: Build-My-App
on: [push, workflow_dispatch] # أضفت ميزة التشغيل اليدوي
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release --no-tree-shake-icons # تخطي أخطاء الأيقونات
      - uses: actions/upload-artifact@v3
        with:
          name: My-Final-App
          path: build/app/outputs/flutter-apk/app-release.apk
